#body{
    
        display: grid; 
        grid-row-gap: 35px;
}

#grid-container{
    
        display: grid;
        grid-row-gap: 50px;
}
#zoomed{
    z-index: 999; display: none; width: 100vw; height: 100vh; 
        background-color: rgb(0,0,0,0.6);
}