.menuNav{
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
}

.menu-items{
    font-family: Ubuntu;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  color: #373a3c;

}

.menu-items p{
    margin-left: 30px;
    position: relative;
    top: 10px;
}

#menuBtn{
    position: absolute;
    right: 50px;
}

.title-list-group{
    width: 100%;
    display: flex;
    border: none;
}

@media only screen and (max-width: 800px) {
  .title-list-group{
      display: grid;
      grid-template-columns: repeat( auto-fit, minmax(360px, 1fr) );
  }
  }
.title-list-group p{
 
    height: 35px;
    font-family: Ubuntu;
    font-size: 30px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--charcoal-grey);
    position: absolute;
    left: 130px;
}

#searchform{
    border-left: none;
    border-right: none;
    border-top: none;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--charcoal-grey);
    padding-bottom: 5px;
}

#navIcons{
    display: grid;
    display: -ms-grid;
    height: 129px;
    width: 20px;
    position: absolute;
    left: 55px;
   
    text-align: left;
}

#navIcons img{
    margin-bottom: 20px;
}

.view-images-title{
    position: absolute;
    bottom: 105%;
    left: 35%;
    width: 106px;
  height: 21px;
  font-family: Ubuntu;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  color: #ff321a;
}

.filterSection{
    width: 220px;
    position: absolute;
    right: 55px;
    background-color: #ffffff;
}

.filterBox{
    width: 200px;
    display: flex;
    border:solid 1px #373a3c;
    background-color: #ffffff;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: black;
    cursor: pointer;

}


#reset{
    width: 100px;
    height: 40px;
    background-color: #ff8d80;
    border: none;
    color: #ffffff;
    text-align: center;
}

#category::before{
    content: 'By category';
    width: 200px;
    text-align: left;
    display: block;
    position: relative;
    bottom: 25px;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
  
}

#category p::after{
    content: url(../images/downiconorange.png);
    width: 16px;
    height: 16px;
    object-fit: cover;
    position: relative;
    left: 60px;
}

#year::before{
    content: 'By year';
    width: 200px;
    text-align: left;
    display: block;
    position: relative;
    bottom: 25px;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    
}

#year p::after{
    content: url(../images/downiconorange.png);
    width: 16px;
    height: 16px;
    object-fit: cover;
    position: relative;
    left: 60px;
}

.dropdowns-category{
    z-index: 1;
    width: 200px;
    height: 236px;
    background-color: #373a3c;
    position: absolute;
    top: 50%;
    overflow-y: scroll;
    display: grid;
    grid-gap: 10px;
}

.dropdown-items{
    height: 17px;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin: 20px;
}
.dropdown-items::after{
    content: none;
}

.dropdowns-year{
    z-index: 1;
    width: 200px;
    height: 236px;
    background-color: #373a3c;
    position: absolute;
    top: 104%;
    overflow-y: scroll;
}

#downer{
    height: 20px;
    text-align: center;
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    color: #ff321a;
    text-align: center;
    cursor: pointer;

}

#downer::after{
    content: url(../images/component.png);
    display: block;
    position: relative;
    top: 10px;
}

footer{
    width: 100%;
    height: 75px;
    background-color: #373a3c;
}