#body{
        display: -ms-grid;
        display: grid;
        grid-row-gap: 35px;
}

.back-and-title{
        width: 100%;
        height: 40px;
        display: flex;
        display: -webkit-flex;
        display: -ms-flexbox;
        position: absolute;
        top: 25%;

}

.back-img{
        position: absolute;
        left: 5%;
}
.title{
        position: absolute;
        height: 35px;
        font-family: Ubuntu;
        font-size: 30px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #373a3c;
        left: 15%;
        top: -100%;
}

.images-description{
       
        font-family: Ubuntu;
        font-size: 18px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.35;
        letter-spacing: normal;
        color: #373a3c;
}


.images{
        width: 100%;
        height: 550px;
        margin-top: 30px;
        object-fit: cover;
}

.comment-container-box{
      
        width: 73.25%;
        height: 500px;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
}
.comment-textbox{
        position: relative;
        top: 50px;
        left: 75px;
        width: 85%;
        height: 175px;
        border: solid 1px #373a3c;
        font-family: Ubuntu;
        font-size: 18px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.35;
        letter-spacing: normal;
        color: #8d8d8d;
        padding-left: 10px;
}

.comment-container-box button{
        border: none;
        width: 100px;
        height: 40px;
        background-color: #ff8d80;
        position: relative;
        top: 35%;
        right: 22px;
        font-family: Ubuntu;
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.14px;
        color: #ffffff;
      
}

.footer-container{
        width: 100%;
        height: 80px;
        background-color: #373a3c;
        display: -ms-flexbox;
        display: flex;
        
}

footer img{
        width: 24px;
        height: 24px;
}

@media screen and  (max-height: 800px){
        .footer-container{
          top: 330.5%;
        }
}