#body{
    

    display: -ms-grid;


    display: grid;
}

.back-title{
    width: 100%;
    height: 40px;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 20%;
}
.back{
    position: absolute;
    left: 5%;
}

.page-title{
    position: absolute;
    left: 15%;
    top: -100%;
    height: 35px;
    font-family: Ubuntu;
    font-size: 30px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #373a3c;
}

.image-desc{
    position:absolute;
    top: 27%;
    left: 15%;
    width: 72%;
    font-family: Ubuntu;
    font-size: 12px;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.35;
    letter-spacing: normal;
    color: #373a3c;
}

.image-desc strong{
    font-size: 18px;
}

#credentials{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    position: relative;
    left: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.books{
    position: absolute;
    top:50%;
    left: 15%;
    width: 72%;
    height: 600px;
}

.comment-container{
    position: absolute;
    left: 15%;
    top: 125%;
    width: 72%;
    height: 650px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
}

#comment{
    position: absolute;
    top: 7.1%;
    left: 7.5%;
    width: 85%;
    height: 25%;
    border: solid 1px #373a3c;
    font-family: Ubuntu;
    padding-left : 20px;
    padding-top: 20px;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.35;
    letter-spacing: normal;
    color: #8d8d8d;
}
#post-btn{
    position: absolute;
    top: 38.5%;
    border: none;
    left: 85.5%;
    width: 100px;
    height: 40px;
    background-color: #ff8d80;

    font-family: Ubuntu;
font-size: 14px;
font-weight: 500;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: -0.1px;
color: #ffffff;
}

#footer-publication{

position: absolute;
top: 198%;
  width: 100%;
  height: 75px;
  background-color: #373a3c;
}


#fb{
position:absolute;
top: 34.7%;
left: 41%;
}

#twitter{

position:absolute;
top: 34.7%;
left: 46.4%;
}

#instagram{

position:absolute;
top: 34.7%;
left: 51.8%;
}

#linkedin{

position:absolute;
top: 34.7%;
left: 57.2%;
}

@media screen and (max-height: 800px){
    #footer-publication{
        top: 258%;
    }
}