#body{
    

    display: -ms-grid;


    display: grid;
}

.back-title{
    width: 100%;
    height: 40px;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 20%;
}
.back{
    position: absolute;
    left: 5%;
}

.page-title{
    position: absolute;
    left: 15%;
    top: -100%;
    height: 35px;
    font-family: Ubuntu;
    font-size: 30px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #373a3c;
}

.image-desc{
    position: relative;
    left: 13.4%;
    width: 72%;
    font-family: Ubuntu;
    font-size: 12px;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.35;
    letter-spacing: normal;
    color: #373a3c;
}

.image-desc strong{
    font-size: 18px;
}

#credentials{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    position: relative;
    left: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.books{
    position: relative;
    left: 13.4%;
    width: 72%;
    height: 600px;
}

.comment-container{
    position: relative;
    left: 13.4%;
    width: 72%;
    height: 650px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
}

#comment{
    position: relative;
    left: 75px;
    top: 50px;
    width: 85%;
    height: 25%;
    border: solid 1px #373a3c;
    font-family: Ubuntu;
    padding-left : 20px;
    padding-top: 20px;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.35;
    letter-spacing: normal;
    color: #8d8d8d;
}
#post-btn{
    border: none;
    width: 100px;
    height: 40px;
    background-color: #ff8d80;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    color: #ffffff;
}
footer{
    width: 100%;
    height: 75px;
    background-color: #373a3c;
}