.menuNav{
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
}
#menuBtn{
  position: absolute;
  right: 50px;
}


.dropdowns-category{
  z-index: 1;
  width: 200px;
  height: 236px;
  background-color: #373a3c;
  position: absolute;
  top: 28%;
  display: none;
}

.dropdowns-discussion{
  z-index: 1;
  width: 200px;
  height: 236px;
  background-color: #373a3c;
  position: absolute;
  top: 100%;
  display: none;
}

#discussion::before{
  content: 'By discussion';
  width: 200px;
  text-align: left;
  display: block;
  position: relative;
  bottom: 25px;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  
}


#discussion p::after{
  content: url(../images/downiconorange.png);
  width: 16px;
  height: 16px;
  object-fit: cover;
  position: relative;
  left: 30px;
}