.back-title-container{
    width: 100%;
    position: absolute;
    top: 20%;
    height: 40px;
    display: -ms-flexbox;
    display: flex;
    
}

.back{
    position: absolute;
    left: 5%;
}

.back-title-container p{
    position: absolute;
    left: 15%;
    top: -100%;
    height: 35px;
    font-family: Ubuntu;
    font-size: 30px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #373a3c; 
}
.video-description{
    width: 73.25%;
    position: absolute;
    top: 25%;
    left: 15%;
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    color: #373a3c;
}

.video-frame{
    width: 73.25%;
    height: 550px;
    position: absolute;
    top: 40%;
    left: 15%;
}


.comment-container{
    width: 73.25%;
    height: 650px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 110%;
    left: 15%;
}

.comment-container button{
    position: relative;
    top: 30%;
    width: 100px;
    height: 40px;
    background-color: #ff8d80;
    border: none;
    color: white;
}

.footer-section{
    width: 100%;
    height: 80px;
    background-color: #373a3c;
    display: flex;
    display: -ms-flexbox;
    position: absolute;
    top: 200%;
   
    
}

#insta{
    position: absolute;
    left: 51.5%;
    top: 34%;
}

@media screen and (max-height: 800px){
    .video-frame{
        top: 53.5%;
    }

    .comment-container{
        top: 155.5% !important;
    }

    .footer-section{
        top: 262.5%;
    }
}