.page-title-and-search{
    width: 100%;
    height: 52px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: absolute;
    top: 28%;
   
}

.page-title-and-search p{
  
    height: 35px;
    font-family: Ubuntu;
    font-size: 30px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #373a3c;
    position: absolute;
    left: 5.5%;
    top: -10px;
}

.searchbox{
  border-bottom: 1px solid #373a3c;
  width: 200px;
  height: 17px;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #373a3c;
  position: absolute;
  right: 6%;
  bottom: 0;
}

@media screen and (max-height: 800px){
  .searchbox{
    right: 2.25%;
  }
}
.view-text{
    position: absolute;
    top: 38%;
    right: 11.5%;
    height: 21px;
  font-family: Ubuntu;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  color: #ff321a;
}

@media screen and (max-height: 800px){
  .view-text{
    right: 10%;
  }
}

.next-page-footer{
    position: absolute;
    bottom: -15%;
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    color: #ff321a;
    left: 40%;
    text-align: center;
}

.next-page-footer::after{
  content: url(../images/component.png);
  display: block;
  margin-top: 10px;
}

@media screen and (max-height: 800px){
  .next-page-footer{
    bottom: -25%;
  }
}